[Desktop Entry]
Name=pushit
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/pushit/pushit.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
